<h2>Démo - Premier Composant</h2>
<app-premier-composant></app-premier-composant>

<h3>-----</h3>

<h2>Démo - Composant Inline</h2>
<Coucou></Coucou>

<h3>-----</h3>

<h2>Démo - User Component</h2>
<app-user></app-user>

<h3>-----</h3>

<h2>Carte de visite</h2>
<app-carte-visite></app-carte-visite>

<h3>-----</h3>

<h2>Démo - Bouton d'alerte</h2>
<app-alert-button></app-alert-button>

<h3>-----</h3>

<h2>Démo - Liste simple</h2>
<app-liste></app-liste>

<h3>-----</h3>

<h2>Démo - Magie</h2>
<app-magie></app-magie>

<h3>-----</h3>

<h2>Démo - Liste filtrée</h2>
<app-liste-filtre></app-liste-filtre>

<h3>-----</h3>

<h2>TP 1</h2>
<app-hidder></app-hidder>

<h3>-----</h3>

<h2>Exercice 1</h2>
<app-todo></app-todo>

<h3>-----</h3>

<h2>Démo - Date du jour</h2>
<app-show-date></app-show-date>

<h3>-----</h3>

<h2>Démo - Mes boutons génériques</h2>
<app-generic-alert-button 
  buttonTitle="Ping" 
  alertMessage="Pong"
></app-generic-alert-button>
<app-generic-alert-button
  buttonTitle="Marco"
  alertMessage="Polo"
></app-generic-alert-button>

<h3>-----</h3>

<h2>Démo - Mes boutons génériques 2</h2>
<app-button-menu></app-button-menu>

<h3>-----</h3>

<h2>TP 2</h2>
<app-clock-menu></app-clock-menu>

<h3>-----</h3>

<h2>Démo - Liste de courses</h2>
<app-liste-courses></app-liste-courses>

<h3>-----</h3>

<h2>Démo - Liste de courses réactive</h2>
<app-reactive-liste-courses></app-reactive-liste-courses>

<h3>-----</h3>


<h2>Démo - Liste de courses réactive + Validators</h2>
<app-reactive-liste-courses-validators></app-reactive-liste-courses-validators>

<h3>-----</h3>

<h2>Démo - Liste de courses FormBuilder</h2>
<app-formbuilder-liste-courses></app-formbuilder-liste-courses>

<h3>-----</h3>

<h2>TP 3</h2>
<app-user-form></app-user-form>

<h3>-----</h3>

<h2>Démo - User FormArray</h2>
<app-user-form-array></app-user-form-array>

<h3>-----</h3>

<h2>Démo - Output</h2>
<app-data-courses></app-data-courses>

<h3>-----</h3>

<h2>Exercice 2</h2>
<app-student-main></app-student-main>

<router-outlet></router-outlet>