<!-- Affichage de la carte -->
@for (user of users; track user) {
  <div class="container">
    <div class="background">
      <div class="card-header">
        {{ user.entreprise }}
  
        <div class="card">
          <div class="name">
            {{ user.prenom }} {{ user.nom }}
          </div>
          <div class="info">
            <p>email : {{ user.email }}</p>
            <p>Tel : {{ user.telephone }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
}

<br>

<div class="form">
  <!-- Ajout du formulaire et déclaration du groupe + submit -->
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    
    <div class="field">
      <label for="nom" class="label">Nom : </label>
      <input
        type="text"
        id="nom"
        formControlName="nom"
        placeholder="Nom"
      />
      <!-- Message conditionnel à afficher : -->
      @if (submitted && form['nom'].invalid) {
        <span>
          @if (form['nom'].hasError('minlength')) {
            <span>
              * Nom doit contenir au minimum 2 caractères
            </span>
          }
          @else if (!form['nom'].value) {
            <span>
              * Nom obligatoire
            </span>
          }
        </span>
      }
    </div>
    <!-- Et après c'est pareil partout ! -->
    <div class="field">
      <label for="prenom" class="label">Prenom : </label>
      <input
        type="text"
        id="prenom"
        formControlName="prenom"
        placeholder="Prenom"
      />
      @if (submitted && form['prenom'].invalid) {
        <span>
          @if (form['prenom'].hasError('minlength')) {
            <span>
              * Prénom doit contenir au minimum 2 caractères
            </span>
          }
          @if (!form['prenom'].value) {
            <span>
              * Prénom obligatoire
            </span>
          }
        </span>
      }
    </div>

    <div class="field">
      <label for="entreprise" class="label">Entreprise : </label>
      <input
        type="text"
        id="entreprise"
        formControlName="entreprise"
        placeholder="Entreprise"
      />
      @if (submitted && form['entreprise'].invalid) {
        <span>
          @if (form['entreprise'].hasError('minlength')) {
            <span>
              * Entreprise doit contenir au minimum 2 caractères
            </span>
          }
          @if (!form['entreprise'].value) {
            <span>
              * Entreprise obligatoire
            </span>
          }
        </span>
      }
    </div>

    <div class="field">
      <label for="email" class="label">Email : </label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Email"
      />
      @if (submitted && form['email'].invalid) {
        <span>
          @if (form['email'].hasError('email')) {
            <span>
              * Email invalide
            </span>
          }
          @if (!form['email'].value) {
            <span>
              * Email obligatoire
            </span>
          }
        </span>
      }
    </div>

    <div class="field">
      <label for="telephone" class="label">Telephone : </label>
      <input
        type="tel"
        id="telephone"
        formControlName="telephone"
        placeholder="Téléphone"
      />
      @if (submitted && form['telephone'].invalid) {
        <span>
          @if (form['telephone'].hasError('minlength')) {
            <span>
              * Telephone doit contenir au moins 10 chiffres
            </span>
          }
          @if (!form['telephone'].value) {
            <span>
              * Téléphone obligatoire
            </span>
          }
        </span>
      }
    </div>
    <br>
    <div>
      <button type="submit">Envoyer</button>
    </div>
    
  </form>
</div>