<ul >
    <!-- Affiche tous les articles au fur et à mesure -->
    @for (article of articles; track article) {
    <li>{{article.designation}} : {{article.prix}} €</li>
    }
</ul>

<!-- Appel de notre getter pour afficher le total -->
<p>Total : {{totalPrice}}€</p>

<!-- Début du formulaire. On déclare le formgroup et l'action à réaliser -->
<form [formGroup]="article" (ngSubmit)="addArticle()">
    <label>
        Désignation :
        <!-- On déclare nos formcontrols dans les input -->
        <input type="text" formControlName="designation" />
    </label>
    <label>
        Prix :
        <input type="number" formControlName="prix" />
    </label>
    <!-- On oublie pas d'ajouter un bouton submit -->
    <button type="submit">Ajouter</button>
</form>
