<div class="container">
  <h1>📘 Ajouter un étudiant</h1>

  <!-- Formulaire réactif -->
  <form [formGroup]="studentForm" (ngSubmit)="addStudent()">
    <input formControlName="name" placeholder="Nom" />
    @if (studentForm.controls['name'].invalid && studentForm.controls['name'].touched) {
      <small>Le nom est obligatoire et doit comporter au moins 3 caractères.</small>
    }

    <input type="number" formControlName="age" placeholder="Âge" />
    @if (studentForm.controls['age'].invalid && studentForm.controls['age'].touched) {
      <small>L'âge doit être supérieur ou égal à 18.</small>
    }

    <input type="date" formControlName="enrollmentDate" />

    <button type="submit" [disabled]="studentForm.invalid">Ajouter</button>
  </form>

  <app-student-list
    [students]="students" 
    (deleteStudentEvent)="deleteStudent($event)" 
    (viewDetailEvent)="viewStudentDetail($event)">
  </app-student-list>

  @if (selectedStudent) {
    <student-detail [student]="selectedStudent"></student-detail>
  }
</div>
