@for (user of users; track user) {
  <div class="'container">
    <div class="background">
      <div class="card-header">
        {{ user.entreprise }}
  
        <div class="card">
          <div class="name">
            {{ user.prenom }} {{ user.nom }}
          </div>
          <div class="info">
            <p>email : {{ user.email }}</p>
            @if (user.telephone) {
              <p>Tel : {{ user.telephone }}</p>
            } @else {
              @for (telephone of user.telephones; track i; let i = $index) {
                <p>Tel : {{ telephone }}</p>
              }
            }
          </div>
        </div>
      </div>
    </div>
  </div>
}

<br>

<div class="form">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="field">
      <label for="nom" class="label">Nom : </label>
      <input
        type="text"
        id="nom"
        formControlName="nom"
        placeholder="Nom"
      />
      @if (submitted && form['nom'].invalid) {
        <span>
          @if (form['nom'].hasError('minlength')) {
            <span>
              * Nom doit contenir au minimum 2 caractères
            </span>
          }
          @if (!form['nom'].value) {
            <span>
              * Nom obligatoire
            </span>
          }
        </span>
      }
    </div>

    <div class="field">
      <label for="prenom" class="label">Prenom : </label>
      <input
        type="text"
        id="prenom"
        formControlName="prenom"
        placeholder="Prenom"
      />
      @if (submitted && form['prenom'].invalid) {
        <span>
          @if (form['prenom'].hasError('minlength')) {
            <span>
              * Prénom doit contenir au minimum 2 caractères
            </span>
          }
          @if (!form['prenom'].value) {
            <span>
              * Prénom obligatoire
            </span>
          }
        </span>
      }
    </div>

    <div class="field">
      <label for="entreprise" class="label">Entreprise : </label>
      <input
        type="text"
        id="entreprise"
        formControlName="entreprise"
        placeholder="Entreprise"
      />
      @if (submitted && form['entreprise'].invalid) {
        <span>
          @if (form['entreprise'].hasError('minlength')) {
            <span>
              * Entreprise doit contenir au minimum 2 caractères
            </span>
          }
          @if (!form['entreprise'].value) {
            <span>
              * Entreprise obligatoire
            </span>
          }
        </span>
      }
    </div>

    <div class="field">
      <label for="email" class="label">Email : </label>
      <input
        type="email"
        id="email"
        formControlName="email"
        placeholder="Email"
      />
      @if (submitted && form['email'].invalid) {
        <span>
          @if (form['email'].hasError('email')) {
            <span>
              * Email invalide
            </span>
          }
          @if (!form['email'].value) {
            <span>
              * Email obligatoire
            </span>
          }
        </span>
      }
    </div>
  
    <div formArrayName="telephones">
      @for (telephone of telephones.controls; track telephone; let i = $index) {
        <div class="field">
          <label for="telephone" class="label">Telephone : </label>
          <input
            type="tel"
            id="telephone"
            [formControlName]="i"
            placeholder="Telephone"
          />
          
          @if (submitted && telephone.invalid) {
            <span>
              @if (telephone.hasError('minlength')) {
                <span>
                  * Telephone doit contenir au moins 10 chiffres
                </span>
              }
              @if (!telephone.value) {
                <span>
                  * Téléphone obligatoire
                </span>
              }
            </span>
          }
        </div>
      }
      <button type="button" (click)="addTelephone()" class="button">+</button>
      @if (telephones.length > 1) {
        <button type="button" (click)="removeTelephone()" class="button">-</button>
      }
    </div>
    <div>
      <button type="submit">Envoyer</button>
    </div>
  </form>
</div>
