<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title class="title">
        {{ product.nom | slice: 0:18 }}
        @if (product.nom.length > 18) {
          <span>...</span>
        }
      </mat-card-title>
      @if (product.artiste) {
        <mat-card-subtitle class="subtitle">{{product.artiste}}</mat-card-subtitle>
      }
      @if (product.real) {
        <mat-card-subtitle class="subtitle">{{product.real}}</mat-card-subtitle>
      }
    </mat-card-header>
    <hr />
    @if (!product.img) {
      <img
        class="cover"
        mat-card-image
        src="https://www.le-monde-du-stickers.fr/17138-large_default/sticker-licorne-cool.jpg"
        alt="Licorne"
        />
    }
    @if (product.img) {
      <img
        class="cover"
        mat-card-image
        [src]="product.img"
        [alt]="product.nom"
        />
    }
    @if (product.synopsis) {
      <mat-card-content>
        <p>{{ product.synopsis | slice: 0:140 }}...</p>
      </mat-card-content>
    }
    <mat-card-actions>
      <!-- Création du chemin, dans lequel on passe l'ID du produit -->
      <button mat-button routerLink="/products/{{ product.id }}">
        Détails
      </button>
    </mat-card-actions>
  </mat-card>
</div>
